article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  box-sizing: border-box; }

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto; }

body {
  background-color: #5A72D9; }

section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px 0; }

aside {
  position: fixed;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 47%;
  left: -143px; }
  aside p {
    text-transform: uppercase;
    font-family: "Overpass", sans-serif;
    font-size: 12px;
    margin: 0;
    letter-spacing: 2px; }
    aside p a {
      text-decoration: none;
      color: #F99E71; }

.welcomeMessage {
  margin: 0 auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  max-width: 500px;
  width: 90%;
  padding: 40px 30px 60px 30px;
  border-radius: 3px;
  background: #ffffff; }
  .welcomeMessage h1, .welcomeMessage h3 {
    text-align: center; }

.welcomeMessage h3 {
  font-size: 12px; }

fieldset.nameSet, fieldset.budget {
  border: none;
  padding: 0;
  padding-bottom: 20px; }

fieldset.budget {
  display: inline;
  width: auto; }
  fieldset.budget input {
    margin-right: 40px; }

.welcomeForm h2 {
  font-size: 21px; }

#user_name {
  width: 100%;
  padding: 5px 10px; }

.text-center {
  text-align: center; }

#firstSubmit {
  border: none;
  background: #F99E71;
  padding: 9px 24px;
  margin-top: 10px;
  font-size: 12px;
  color: #ffffff;
  border-radius: 3px; }

img {
  width: 100%;
  border: 8px solid #000000;
  background: rgba(255, 255, 255, 0.5); }

img.charactersWelcome {
  border: none; }

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  line-height: 18px; }

h1, h2, h3, h4, #firstSubmit, #previous, #next, #submit, .startOver, .tweet {
  font-family: "Overpass", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }

h4 {
  font-size: 13px; }

header {
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  top: 0; }
  header .wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  header div {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  header .cart {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    display: block;
    min-height: 100px; }
  header .health {
    text-align: right; }
  header .allowance, header .health {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  header h4 {
    margin: 5px 0; }
  header h2 {
    margin: 5px 0; }

.imgCaption {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .imgCaption .captionName {
    width: 75%; }

#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: none; }

#overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px; }

#overlay p {
  color: white;
  font-size: 30px;
  text-transform: capitalize; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.tweet, .startOver, .calcSpending, .message, .healthImage, #previous, #next, #submit, .foodListBreakfast, .foodListLunch, .foodListDinner {
  display: none; }

header {
  visibility: hidden; }

ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

ul.selectedItemsList {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;
  background: white;
  margin-bottom: 15px; }
  ul.selectedItemsList img {
    border: none; }
  ul.selectedItemsList .message {
    width: 100%; }

.groceryItem {
  margin: 30px 0;
  width: calc(25% - 30px);
  border-radius: 5px;
  position: relative; }
  .groceryItem:hover {
    box-shadow: 0 20px 5px -10px rgba(0, 0, 0, 0.05);
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    cursor: pointer; }
  .groceryItem img:hover {
    border-radius: 50%;
    overflow: hidden;
    transition: all 60s ease; }
  .groceryItem span {
    font-size: 14px;
    margin-right: 2px; }

.cart .groceryItem {
  box-shadow: none;
  display: inline-block;
  margin: 0; }
  .cart .groceryItem img {
    border: 0px; }

.trash {
  background-image: url("images/garbage.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.4; }

.healthImage {
  text-align: center; }
  .healthImage img {
    width: 200px;
    height: 200px; }

#previous, #next, #submit, .startOver, .tweet {
  border: none;
  background: #F99E71;
  padding: 9px 24px;
  margin: 5px;
  font-size: 12px;
  color: #ffffff;
  border-radius: 3px;
  width: 117px; }
  #previous:disabled, #next:disabled, #submit:disabled, .startOver:disabled, .tweet:disabled {
    opacity: 0.2; }

.tweet {
  background: white;
  color: #0084b4; }

#submit, .startOver, .tweet {
  width: calc(234px + 15px);
  text-align: center;
  cursor: pointer; }

footer {
  display: none; }

.ui-draggable-dragging div.imgCaption {
  display: none; }

@media (max-width: 667px) {
  .groceryItem {
    margin: 15px 0;
    width: calc(50% - 30px); }
    .groceryItem img {
      width: 100%; }
  .selectedItemsList .groceryItem {
    text-align: center; }
    .selectedItemsList .groceryItem img {
      width: 100px;
      height: 100px; }
  aside {
    display: none; }
  footer {
    display: block;
    padding: 0 0 20px 0; }
    footer p {
      text-transform: uppercase;
      font-family: "Overpass", sans-serif;
      font-size: 12px;
      margin: 0;
      letter-spacing: 2px;
      text-align: center; }
      footer p a {
        text-decoration: none;
        color: #F99E71; } }

@media (max-width: 580px) {
  fieldset.budget label {
    font-size: 16px; }
  fieldset.budget input {
    margin-right: 5px; } }

@media (max-width: 450px) {
  header h4 {
    font-size: 10px;
    line-height: 12px; }
  ul {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .sectionTitle {
    line-height: 28px; } }
